<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/autoload.php"
        >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>benchmark</group>
        </exclude>
    </groups>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
